.vagrant

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/

config/sslcerts/*.pem
access.log

.idea

.sublime-project
*.sublime-project
*.sublime-workspace

.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

*.iml

*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
